**/LEXER
**/PARSER
**/COMPILER

**/*.class
**/Lexer.java
**/Parser.java
# **/TokenNames.java

**/FOLDER_5_OUTPUT/*
**/Lexer.c
**/Output.txt
**/MIPS.txt
**/MIPS_OUTPUT.txt

**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.synctex.gz
**/*.toc

